{:nrepl {:port 8777}
 :deps {:aliases [:dev :test]}
 :build-defaults {:build-hooks [(shadow-git-inject.core/hook)]}
 :dev-http {8280 "resources/public"}
 :builds {:client {:target :browser
                   :output-dir "resources/public/js"
                   :modules {:client {:init-fn net.mynarz.dataquiz.core/main}}
                   :release {:compiler-options {:optimizations :advanced}}}
          :test {:target :node-test
                 :autorun true
                 :output-to "out/node-tests.js"}}}
