{:nrepl {:port 8777}
 :deps {:aliases [:dev :test]}
 :build-defaults {:build-hooks [(shadow-git-inject.core/hook)]}
 :dev-http {8280 "resources/public"}
 :builds {:client {:target :browser
                   :output-dir "resources/public/js"
                   :modules {:client {:init-fn net.mynarz.dataquiz.core/main}}
                   :devtools {:preloads [day8.re-frame-10x.preload.react-18]}
                   :dev {:compiler-options
                         {:closure-defines {re-frame.trace.trace-enabled? true
                                            day8.re-frame.tracing.trace-enabled? true}}}
                   :release {:build-options
                             {:ns-aliases {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}
          :test {:target :node-test
                 :autorun true
                 :output-to "out/node-tests.js"}}}
